@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;400;500;600;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap&display=swap');
@font-face {
  font-family: 'Bernard MT';
  src: url('/font/bernardMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.martian-mono {
    font-family: "Martian Mono", monospace;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
}

.courier-prime {
    font-family: "Courier Prime", monospace;
}

.bernard-mt {
    font-family: "Bernard MT", serif;
}

@layer utilities {
    .h1 {
        @apply text-2xl font-bold text-primary;
    }
    .h2 {
        @apply text-xl font-bold text-primary;
    }
    .h3 {
        @apply text-lg font-bold text-primary;
    }
    .h4 {
        @apply text-sm font-bold text-primary;
    }
    .p-xs {
        @apply text-xs font-medium text-zinc-500;
    }
    .p-xxs {
        @apply text-[11px] font-medium text-zinc-500;
    }
    .custom-input {
        @apply input input-sm text-xs text-zinc-700 input-bordered bg-zinc-50 focus:outline-primary focus:border-zinc-100;
    }
    .custom-textarea {
        @apply textarea textarea-bordered w-auto resize-none text-xs bg-zinc-50 focus:outline-primary focus:border-primary;
    }
    .primary-text {
        @apply text-xs text-zinc-500;
    }
    .highligth-text {
        @apply text-xs text-zinc-600 font-semibold;
    }
    .check-label {
        @apply flex items-center gap-2 text-xs text-zinc-600 rounded-md p-2 border border-zinc-300;
    }
    .nav-btn {
        @apply relative text-zinc-600 text-xs leading-6 py-1 px-2 bg-transparent hover:bg-transparent cursor-pointer font-normal hover:bg-neutral hover:text-white;
    }
    .nav-btn-active {
        @apply relative text-xs leading-6 py-1 px-2 bg-transparent bg-[#f97316] cursor-pointer font-normal text-white;
    }
}

body {
    --sb-track-color: #cccccc;
    --sb-thumb-color: #5e776a;
    --sb-size: 5px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

::selection {
    background: #414a5b; /* Background color */
    color: rgb(255, 255, 255); /* Text color */
}

/* Hide the spin buttons in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spin buttons in Firefox */
input[type="number"] {
    appearance: textfield;
}

/* Line clamp utility */
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.calendar-contain .fc {
    height: calc(100vh - 200px) !important;
  }
  
  .calendar-contain .fc-timegrid-slot {
    height: 55px !important;
    border: 1px solid #e2e8f0 !important;
  }
  
  .calendar-contain .fc-timegrid-slot-lane,
  .calendar-contain .fc-timegrid-col {
    border: 2px solid #e2e8f0 !important;
    background-color: #ffffff;
  }
  
  .calendar-contain .fc-timegrid-event-harness {
    display: flex;
    justify-content: flex-start;
  }
  
  .calendar-contain .fc-event {
    border: 1px solid #885d24;
    background-color: #885d24;
    width: 90%;
    margin: 5% 2.5%;
    cursor: pointer;
    height: 100%;
    font-size: 11px;
    color: #2b6cb0;
  }
  
  .calendar-contain .fc-col-header-cell {
    background-color: #f7fafc;
    border: 1px solid #e2e8f0;
    padding: 8px;
  }
  
  .calendar-contain .fc-toolbar-title {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .calendar-contain .fc-button-active {
    background-color: #6f7d42;
    border-color: #6f7d42;
  }
  
  @media (max-width: 640px) {
    .calendar-contain .fc .fc-toolbar {
      flex-direction: column;
      align-items: stretch;
    }
  }